*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.row{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    border-radius: 1000px;
    background-image: linear-gradient(to right, orange,orangered);
    transition: .5s;
}
.btn:hover{
    transform: scale(1.1);
}
.btn a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.description {
    text-align: left;
    justify-content: center;
    margin: auto;
}
h2{
    color: gray;
    font-size: 25px;
    margin-bottom: 25px;
}
.orange-color{
    color: rgb(252, 114, 63);
}
/* Navbar starts here */
.nav-bar{
    background-image: linear-gradient(orange,orangered);
    width: 100%;
}
.nav-bar h1{
    font-size: 3rem;
    text-shadow: 2px 2px 8px gray;
    color: white;
}
.title{
    flex-basis: 50%;
    text-align: right;
    justify-content: center;
    padding-top: 20px;
    padding-right: 0;
    height: 100%;
}
.link-container li{
    display: inline-block;
    padding: 30px 10px;
}
.nav-bar li a{
    list-style: none;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: 1s;
}
.link-container{
    flex-basis: 40%;
}
.link-container ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 1s;
}
.link-container ul li:hover::after{
    width: 100%;
}
li a:hover{
    transform:scale(1.2);
}
.logo{
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    border-radius: 50%;
}
.logo .fa{
    font-size: 50px;
    color: white;
    padding: 10px;
    transition: 1s;
}
.link-container{
    text-align: right;
    margin-right: 1%;
    padding: 10px;
}
/* Navbar ends here */
/* banner starts here */
.banner{
    height: 90vh;
    padding-left:70px;
}
.item{
    flex-basis: 50%;
}
.banner h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.banner-photo img{
    height:90% ;
    padding-left: 20%;
    padding-top: 9%;
    padding-bottom: 10px;
}

.banner p{
    font-size: 30px;
    color: gray;
    margin-bottom: 30px;
}

/* banner ends here */
/* about-me starts here */
.about-me{
    height: 55vh;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.my-photo{
    width: 50%;
    height: 100%;
    margin-left: 200px;
}
.my-photo img{
    height: 95%;
    padding-left: 100px;
    padding-top: 30px;

}
.about-me p{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
}
.my-info{
    width: 70%;
}
/* about-me ends here */
/* Recipies starts here */
.Recipies{
    width: 70%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
.card{
    flex-basis: 30%;
}
.food-photo img{
    width: 100%;
}
.card-item{
    margin-top: 40px;
    height: 100%;
    display: flex;
    text-align: left;
    justify-content: space-around;

}
.card{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 2px gray;
}
.food-description{
    padding:  10px 0px;
}
.food-description h3{
    margin-bottom: 10px;
}
/* Recipies ends here */
/* followers starts here */
.followers{
    width: 68%;
    margin: 80px auto;
    box-shadow: 2px 2px 15px 2px gray;
    border-radius: 10px;
}
.media{
    margin-top: 10px;
    justify-items: center;
}
.media h2{
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 5px;
}
.followers-container{
    padding: 15px 20px;
}
/* followers ends here */
/* contact-us starts here */
.contact-us{
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 2px 2px 8px gray;
    border-radius: 10px;
}
.contact{
    text-align: center;
    margin-top: 20px;
}
.map-div iframe{
 width: 100%;
}
.contact-item{
    flex-basis: 50%;
}
.contact-info{
    text-align: left;
    padding-top: 40px;
    padding-left: 90px;
    font-size: 1.5rem;
}
.contact-info p{
    font-size: 1rem;
}
/* contact-us starts here */
/* footer starts here */
footer{
    text-align: center;
    width: 100%;
    background-color: black;
}
footer li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 4px solid white;
    border-radius: 50%;
    transition: .4s;
}
footer li:hover{
    background-color: white;
    transform: scale(1.1);
}
.fa-facebook{
    transition: .5s;
}
footer li:hover .fa-facebook{
    color: blue;
}
footer li:hover .fa-youtube-play{
    color: red
}
footer li:hover .fa-instagram{
    color: darkred;
}
footer li:hover .fa-dribbble{
    color: darkslateblue;
}
.fa-heart{
   color: red;
}
footer p{
    color: white;
    margin: 10 0px; 
}
footer .fa{
    font-size: 2rem;
    color: white;
}
.footer{
    padding: 10px;
}
/* footer Ends here */